[submodule "java-webauthn-server"]
	path = java-webauthn-server
	url = git@github.com:sandbox-quantum/java-webauthn-server_fork.git
	branch = add_Kyber768_Dilithium3_and_liboqs
[submodule "liboqs-java"]
	path = liboqs-java
	url = git@github.com:sandbox-quantum/liboqs-java_fork.git
	branch = update_config_and_fix_error
[submodule "authenticator-rs"]
	path = authenticator-rs
	url = git@github.com:sandbox-quantum/authenticator-rs_fork.git
	branch = add_Kyber_and_Dilithium
[submodule "nitrokey-3-firmware"]
	path = nitrokey-3-firmware
	url = git@github.com:sandbox-quantum/nitrokey-3-firmware_fork.git
	branch = nitrokey-pqc-fido2
